.dark {
    background: rgba(36, 42, 45, 0.76);
}

.dark-text {
    color: aliceblue;
}

.default {
    background: rgba(47,116,151,0.08);
}

.red-text {
    color: aqua;
}

.sandy {
    background: rgb(217 195 110 / 43%);
}

.light-green-text {
    color: darkslateblue;
}