.superInput {
    outline: none;
    width: 20%;
    padding: 5px 10px;
    margin: 3px 0;
    box-sizing: initial;
    border: 2px solid gray;
    border-radius: 4px;
}

.errorInput {
    outline: none;
    width: 20%;
    padding: 5px 10px;
    margin: 3px 0;
    box-sizing: initial;
    border: 2px solid crimson;
    border-radius: 4px;
    background-color: rgba(250, 209, 192, 0.91);
}

.error {
    display: flex;
    flex-direction: column;
    color: red;
}